<div ng-include="'views/partials/nav.html'"></div>

<div id="about">
    <h1>About This App</h1>
    <h2>Why This App</h2>
    <p>This app was created for small businesses who manufacture products that require lead times. The intended user is a sales manager who needs to track 3 related data sets: products they manufacture, dealers who stock their product, and the orders from those dealers. This app allows the user to view, create, update and delete those items. The data sets in the app are connected, so making a change in one table changes that item in related data sets. This app also solves the problem of data normalization by using drop downs to select instead of typed text.</p>
    <h2>Technologies Used</h2>
    <ul>
        <li>-AngularJS</li>
        <br>
        <li>-Angular Material</li>
        <br>
        <li>-PostgreSQL</li>
        <br>
        <li>-Node.js</li>
        <br>
        <li>-Express</li>
        <br>
        <li>-Moment.js</li>
        <br>

    </ul>
    <h2>Future Features</h2>
    <ul>
        <li>-CSV Upload</li>
        <br>
        <li>-Ability to create and send an invoice from the app</li>
        <br>
        <li>-A reports tab with business relvant data displayed in charts and graphs</li>
        <br>
        <li>-Extensive filtering and search queries for tables</li>
        <br>
    </ul>
</div>