<div ng-include="'views/partials/nav.html'"></div>
<h1 class="viewheader">DEALERS</h1>
<button ng-click="dc.showFormClick()">Add Dealer</button>
<div class="container">
    <div class="content">
        <form id="dealerForm" ng-show="dc.showForm" ng-submit="dc.addDealer(dc.dealerToAdd)">
            <label>Name:<input type="text" ng-model="dc.dealerToAdd.name"></label>
            <br>
            <label>Discount:<input type="number" ng-model="dc.dealerToAdd.discount"></label>
            <br>
            <label>Country:<input type="text" ng-model="dc.dealerToAdd.country"></label>
            <br>
            <label>State:<input type="text" ng-model="dc.dealerToAdd.state"></label>
            <br>
            <label>City:<input type="text" ng-model="dc.dealerToAdd.city"></label>
            <br>
            <label>Notes:<input type="text" ng-model="dc.dealerToAdd.notes"></label>
            <br>
            <label>Shipping Preference:<input type="text" ng-model="dc.dealerToAdd.shippingpref"></label>
            <br>
            <label>Shipping Contact:<input type="text" ng-model="dc.dealerToAdd.shippingcontact"></label>
            <br>
            <label>Marketing Contact:<input type="text" ng-model="dc.dealerToAdd.marketingcontact"></label>
            <br>
            <label>Payment Contact:<input type="text" ng-model="dc.dealerToAdd.paymentcontact"></label>
            <br>
            <label>Street Address:<input type="text" ng-model="dc.dealerToAdd.streetaddress"></label>
            <br>
            <label>Lead Source:<input type="text" ng-model="dc.dealerToAdd.leadsource"></label>
            <br>
            <input type="submit">
        </form>
        <table>
            <thead>
                <th>Dealer</th>
                <th>Discount</th>
                <th>Country</th>
                <th>State</th>
                <th>City</th>
                <th>Notes</th>
                <th>Ship Preference</th>
                <th>Ship Contact</th>
                <th>Marketing Contact</th>
                <th>Payment Contact</th>
                <th>Street Address</th>
                <th>Lead Source</th>
            </thead>
            <tbody>
                <tr ng-repeat="dealer in dc.dealers">
                    <td>{{dealer.name}}</td>
                    <td>{{dealer.discount}}</td>
                    <td>{{dealer.country}}</td>
                    <td>{{dealer.state}}</td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.notes}}</td>
                    <td>{{dealer.shippingpref}}</td>
                    <td>{{dealer.shippingcontact}}</td>
                    <td>{{dealer.marketingcontact}}</td>
                    <td>{{dealer.paymentcontact}}</td>
                    <td>{{dealer.streetaddress}}</td>
                    <td>{{dealer.leadsource}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>