<div ng-include="'views/partials/nav.html'"></div>

<div class="container">
    <div class="content">
        <span>
            <h1 class="viewheader">ORDERS</h1>
                <md-button class="md-raised next-btn addbutton" ng-show="oc.showStart" ng-click="oc.showOrderFormClick()">Start New Order</md-button>
        </span>
        <br>
        <div ng-show="oc.showOrders">
            <form id="orderForm" ng-show="oc.showOrderForm" ng-submit="oc.addOrder(oc.orderToAdd)">
                <label>Date Ordered:<input type="date" ng-model="oc.orderToAdd.dateordered"></label>
                <br>
                <label>Dealer ID:<input type="number" ng-model="oc.orderToAdd.dealer_id"></label>
                <br>
                <label>Quoted Lead Time:<input type="number" ng-model="oc.orderToAdd.quotedlead"></label>
                <br>
                <label>Date Shipped:<input type="date" ng-model="oc.orderToAdd.shipdate"></label>
                <br>
                <label>Notes:<input type="text" ng-model="oc.orderToAdd.notes"></label>
                <br>
                <label>Order Discounts:<input type="number" ng-model="oc.orderToAdd.discounts"></label>
                <br>
                <md-button class="md-raised next-btn" type="submit">Create Order</md-button>
            </form>
        </div>
        <div>
            <form ng-submit="oc.addOrderProducts(vm.orderProductsToAdd, products)" ng-show="oc.showOrderProductsForm">
                <p>{{orderToAdd.id}}</p>
                <div ng-repeat="product in oc.products">
                    <label>{{product.name}}:<input type="number" ng-model="product.quantity"></input></label>
                    <br>
                </div>
                <md-button class="md-raised next-btn" type="submit">Submit Order Quantities</md-button>
            </form>
        </div>
            <md-table-container>
                <table md-table>
                    <thead md-head>
                        <th md-cell>Order Number</th>
                        <th md-cell>Date Ordered</th>
                        <th md-cell>Dealer ID</th>
                        <th md-cell>Quoted Lead</th>
                        <th md-cell>Ship By</th>
                        <th md-cell ng-repeat="product in oc.products">{{product.name}}</th>
                        <th md-cell>Shipped</th>
                        <th md-cell>Notes</th>
                        <th md-cell>Unique Discounts</th>
                        <th md-cell>Action</th>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="order in oc.orders">
                            <td md-cell>{{order.id}}</td>
                            <td md-cell>{{order.dateordered | date : "shortDate"}}</td>
                            <td md-cell>{{order.dealer_id}}</td>
                            <td md-cell>{{order.quotedlead}} days</td>
                            <td md-cell>{{order.shipby}}</td>
                            <td md-cell ng-repeat="product in oc.products">{{order.quantities[order.productNames.indexOf(product.name)]}}</td>
                            <td md-cell>{{order.shipdate | date : "shortDate"}}</td>
                            <td md-cell>{{order.notes}}</td>
                            <td md-cell>${{order.discounts}}</td>
                            <td md-cell>
                                <md-button class="md-raised next-btn" ng-click="oc.showUpdateFormClick(order)">Edit</md-button>
                                <md-button class="md-raised md-warn" ng-click="oc.deleteOrder(order.id)">Delete</md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
        <form ng-show="oc.showUpdateForm" ng-submit="oc.updateOrder(oc.orderToUpdate)">
            <h2>Updating:</h2>
            <h1> Order #{{oc.orderToUpdate.id}}</h1>
            <label>Dealer:<input type="text" ng-model="oc.orderToUpdate.dealer_id"></label>
            <br>
            <label>Date Ordered:<input type="text" ng-model="oc.orderToUpdate.dateordered"></label>
            <br>
            <label>Quoted Lead:<input type="text" ng-model="oc.orderToUpdate.quotedlead"></label>
            <br>
            <label>Shipped Date:<input type="text" ng-model="oc.orderToUpdate.shipdate"></label>
            <br>
            <label>Notes:<input type="text" ng-model="oc.orderToUpdate.notes"></label>
            <br>
            <label>Discounts for Order:<input type="text" ng-model="oc.orderToUpdate.discounts"></label>
            <br>
            <input type="submit">
        </form>
    </div>
</div>