<div ng-include="'views/partials/nav.html'"></div>
<h1 class="viewheader">PRODUCTS</h1>
<button ng-click="pc.showFormClick()">Add Product</button>
<div class="container">
    <div class="content">
        <form id="productForm" ng-show="pc.showForm" ng-submit="pc.addProduct(pc.productToAdd)">
            <label>Name:
                <input type="text" ng-model="pc.dealerToAdd.name">
            </label>
            <br>
            <label>Discount:
                <input type="number" ng-model="dc.dealerToAdd.discount">
            </label>
            <br>
            <label>Country:
                <input type="text" ng-model="dc.dealerToAdd.country">
            </label>
            <br>
            <label>State:
                <input type="text" ng-model="dc.dealerToAdd.state">
            </label>
            <br>
            <label>City:
                <input type="text" ng-model="dc.dealerToAdd.city">
            </label>
            <br>
            <label>Notes:
                <input type="text" ng-model="dc.dealerToAdd.notes">
            </label>
            <br>
            <label>Shipping Preference:
                <input type="text" ng-model="dc.dealerToAdd.shippingpref">
            </label>
            <br>
            <label>Shipping Contact:
                <input type="text" ng-model="dc.dealerToAdd.shippingcontact">
            </label>
            <br>
            <label>Marketing Contact:
                <input type="text" ng-model="dc.dealerToAdd.marketingcontact">
            </label>
            <br>
            <label>Payment Contact:
                <input type="text" ng-model="dc.dealerToAdd.paymentcontact">
            </label>
            <br>
            <label>Street Address:
                <input type="text" ng-model="dc.dealerToAdd.streetaddress">
            </label>
            <br>
            <label>Lead Source:
                <input type="text" ng-model="dc.dealerToAdd.leadsource">
            </label>
            <br>
            <input type="submit">
        </form>
        <table>
            <thead>
                <th>Name</th>
                <th>Cost To Make</th>
                <th>Direct Price</th>
                <th>Dealer Price</th>
                <th>Distributor Price</th>
                <th>UPC</th>
            </thead>
            <tbody>
                <tr ng-repeat="product in pc.products">
                    <td>{{product.name}}</td>
                    <td>{{product.costtomake}}</td>
                    <td>{{product.directprice}}</td>
                    <td>{{product.dealerprice}}</td>
                    <td>{{product.distroprice}}</td>
                    <td>{{product.upc}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>