<div ng-include="'views/partials/nav.html'"></div>
<h1 class="viewheader">PRODUCTS</h1>

<div class="container">
    <div class="content">
        <div>
            <md-button ng-show="pc.showProducts" class="md-raised next-btn" ng-click="pc.showFormClick()">Add Product</md-button>
            <form id="productForm" ng-show="pc.showForm" ng-submit="pc.addProduct(pc.productToAdd)">
                <label>Name: <input type="text" ng-model="pc.productToAdd.name"></label>
                <br>
                <label>Cost To Make:<input type="number" min="0" ng-model="pc.productToAdd.costtomake"></label>
                <br>
                <label>Direct Price:<input type="number" min="0" ng-model="pc.productToAdd.directprice"></label>
                <br>
                <label>Dealer Price:<input type="number" min="0" ng-model="pc.productToAdd.dealerprice"></label>
                <br>
                <label>Distribution Price:<input type="number" min="0" ng-model="pc.productToAdd.distroprice"></label>
                <br>
                <label>UPC:<input type="number" ng-model="pc.productToAdd.upc"></label>           
                <br>
                <md-button class="md-raised next-btn" type="submit">Submit Product</md-button>
            </form>
            <md-table-container ng-show="pc.showProducts">
                <table md-table>
                    <thead md-head>
                        <th md-cell>Name</th>
                        <th md-cell>Cost To Make</th>
                        <th md-cell>Direct Price</th>
                        <th md-cell>Dealer Price</th>
                        <th md-cell>Distributor Price</th>
                        <th md-cell>UPC</th>
                        <th md-cell>Action</th>
                    </thead>
                    <tbody md-body>
                        <tr md- row ng-repeat="product in pc.products">
                            <td md-cell>{{product.name}}</td>
                            <td md-cell>{{product.costtomake}}</td>
                            <td md-cell>{{product.directprice}}</td>
                            <td md-cell>{{product.dealerprice}}</td>
                            <td md-cell>{{product.distroprice}}</td>
                            <td md-cell>{{product.upc}}</td>
                            <td md-cell>
                                <md-button class="md-raised next-btn" ng-click="pc.showUpdateForm(product)">Edit</md-button>
                                <md-button class="md-raised md-warn" ng-click="pc.deleteProduct(product.id)">Delete</md-button></td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
        <form ng-show="pc.showUpdate" ng-submit="pc.updateProduct(pc.productToUpdate)">
            <h2>Updating:</h2>
            <h1> {{pc.productToUpdate.name}}</h1>
            <label>Name:<input type="text" ng-model="pc.productToUpdate.name"></label>
            <br>
            <label>Cost To Make:<input type="number" ng-model="pc.productToUpdate.costtomake"></label>
            <br>
            <label>Direct Price:<input type="number" ng-model="pc.productToUpdate.directprice"></label>
            <br>
            <label>Dealer Price:<input type="number" ng-model="pc.productToUpdate.dealerprice"></label>
            <br>
            <label>Distribution Price:<input type="number" ng-model="pc.productToUpdate.distroprice"></label>
            <br>
            <label>UPC:<input type="text" ng-model="pc.productToUpdate.upc"></label>
            <br>
            <input type="submit">
        </form>
    </div>
</div>