<div ng-include="'views/partials/nav.html'"></div>
<h1 class="viewheader">PRODUCTS</h1>

<div class="container">
    <div class="content">
        <div ng-show="pc.showProducts">
            <button ng-click="pc.showFormClick()">Add Product</button>
            <form id="productForm" ng-show="pc.showForm" ng-submit="pc.addProduct(pc.productToAdd)">
                <label>Name: <input type="text" ng-model="pc.productToAdd.name"></label>
                <br>
                <label>Cost To Make:<input type="number" ng-model="pc.productToAdd.costtomake"></label>
                <br>
                <label>Direct Price:<input type="number" ng-model="pc.productToAdd.directprice"></label>
                <br>
                <label>Dealer Price:<input type="number" ng-model="pc.productToAdd.dealerprice"></label>
                <br>
                <label>Distribution Price:<input type="number" ng-model="pc.productToAdd.distroprice"></label>
                <br>
                <label>UPC:<input type="number" ng-model="pc.productToAdd.upc"></label>           
                <br>
                <input type="submit">
            </form>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Cost To Make</th>
                    <th>Direct Price</th>
                    <th>Dealer Price</th>
                    <th>Distributor Price</th>
                    <th>UPC</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr ng-repeat="product in pc.products">
                        <td>{{product.name}}</td>
                        <td>{{product.costtomake}}</td>
                        <td>{{product.directprice}}</td>
                        <td>{{product.dealerprice}}</td>
                        <td>{{product.distroprice}}</td>
                        <td>{{product.upc}}</td>
                        <td><button ng-click="pc.showUpdateForm(product)">Edit</button><button ng-click="pc.deleteProduct(product.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form ng-show="pc.showUpdate" ng-submit="pc.updateProduct(pc.productToUpdate)">
            <h2>Updating:</h2>
            <h1> {{pc.productToUpdate.name}}</h1>
            <label>Name:<input type="text" ng-model="pc.productToUpdate.name"></label>
            <br>
            <label>Cost To Make:<input type="number" ng-model="pc.productToUpdate.costtomake"></label>
            <br>
            <label>Direct Price:<input type="number" ng-model="pc.productToUpdate.directprice"></label>
            <br>
            <label>Dealer Price:<input type="number" ng-model="pc.productToUpdate.dealerprice"></label>
            <br>
            <label>Distribution Price:<input type="number" ng-model="pc.productToUpdate.distroprice"></label>
            <br>
            <label>UPC:<input type="text" ng-model="pc.productToUpdate.upc"></label>
            <br>
            <input type="submit">
        </form>
    </div>
</div>